<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Printing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Printing.Properties.Settings>
            <setting name="ScreenColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="PaintColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="FormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormSize" serializeAs="String">
                <value>551, 624</value>
            </setting>
        </Printing.Properties.Settings>
    </userSettings>
</configuration>